<div class="alert alert-info" role="alert"><%= notice %></div>
<div class="alert alert-danger" role="alert"><%= alert %></div>

<!-- This is the beginning of the client view -->
<div class="container">
  <% if current_user.is_client %>
    <p>
      <%= link_to "Create New Project", new_project_path %>
    </p>
</div>

<%= image_tag current_user.avatar.url(:thumb) %>

<!-- This is the client's Unassigned Projects table !-->
<h3>Unassigned Projects</h3>
<div class="container">
  <table class="table table-striped table-responsive">
    <tr>
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        Proposed Budget
      </th>
      <th>
        Delivery Date
      </th>
      <th>
        Word Count
      </th>
      <th>
        Language Combination
      </th>
      <th>
      </th>
    </tr>
<% current_user.projects.each do |project| %>
  <% if !project.accepted_bid_id %>
    <tr>
      <td>
        <%= project.name %>
      </td>
      <td>
        <%= project.kind %>
      </td>
      <td>
        <%= project.budget %>
      </td>
      <td>
        <%= project.delivery_date %>
      </td>
      <td>
        <%= project.word_count %>
      </td>
      <td>
        <%= project.language_1 %> to <%= project.language_2 %>
      </td>
      <td>
        <%= link_to "See Current Bids", project_path(project) %>
      </td>
    </tr>
  <% end %>
<% end %>
  <% if current_user.projects.select { |project|
    !project.accepted_bid_id }.count == 0 %>
    <tr>
      <td colspan=8>
        None currently
      </td>
    </tr>
  <% end %>
  </table>
</div>

<!-- This is the client's Projects In Progress Table -->
<div class="container">
  <h3>Projects In Progress</h3>
  <table class="table table-striped table-responsive">
    <tr>
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        Budget
      </th>
      <th>
        Delivery Date
      </th>
      <th>
        Word Count
      </th>
      <th>
        Language Combination
      </th>
      <th>
        Vendors Assigned
      </th>
      <th>
      </th>
    </tr>
    <% current_user.projects.each do |project| %>
      <% if project.accepted_bid_id && !project.completed_client %>
        <tr>
          <td>
            <%= project.name %>
          </td>
          <td>
            <%= project.kind %>
          </td>
          <td>
            <%= project.accepted_bid.budget %>
          </td>
          <td>
            <%= project.accepted_bid.delivery_date %>
          </td>
          <td>
            <%= project.word_count %>
          </td>
          <td>
            <%= project.language_1 %> to <%= project.language_2 %>
          </td>
          <td>
            <%= project.accepted_bid.f_name %> <%= project.accepted_bid.l_name %>
          </td>
          <td>
            <%= link_to "Edit Details", project_path(project) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if current_user.projects.select { |project|
      project.accepted_bid_id && !project.completed_client && !project.completed_vendor }.count == 0 %>
      <tr>
        <td colspan=8>
          None currently
        </td>
      </tr>
    <% end %>
  </table>
</div>

<!-- This is the client's Completed Projects table -->
<div class="container">
  <h3>Completed Projects</h3>
    <table class="table table-striped table-responsive">
      <tr>
        <th>
          Name
        </th>
        <th>
          Type
        </th>
        <th>
          Budget
        </th>
        <th>
          Date Completed
        </th>
        <th>
          Word Count
        </th>
        <th>
          Vendors
        </th>
        <th>
        </th>
      </tr>
<% current_user.projects.each do |project| %>
  <% if project.completed_client %>
      <tr>
        <td>
          <%= project.name %>
        </td>
        <td>
          <%= project.kind %>
        </td>
        <td>
          <%= project.accepted_bid.budget %>
        </td>
        <td>
          <%= project.accepted_bid.delivery_date %>
        </td>
        <td>
          <%= project.word_count %>
        </td>
        <td>
          <%= project.accepted_bid.f_name %> <%= project.accepted_bid.l_name %>
        </td>
        <td>
          <%= link_to "Edit Details", project_path(project) %>
        </td>
      </tr>
    <% end %>
  <% end %>
      <% if current_user.projects.select { |project|
        project.completed_client }.count == 0 %>
        <tr>
          <td colspan=7>
            None currently
          </td>
        </tr>
      <% end %>
  </table>
</div>
<% end %>
<!-- This is the end tag for the client view above !-->

<!-- This is the beginning of the translator/transcriber/graphic designer view !-->
<% if current_user.is_translator || current_user.is_transcriber || current_user.is_graphic_designer %>
  <p>
    <%= link_to "Jobs Board", projects_path %>
  </p>

<!--   This is the vendor's Active Bids table! -->
<div class="container">
    <h3>Active Bids</h3>
    <table class="table table-striped table-responsive">
      <tr>
        <th>
          Name
        </th>
        <th>
          Client
        </th>
        <th>
          Type
        </th>
        <th>
          Proposed budget
        </th>
        <th>
          Proposed delivery date
        </th>
        <th>
          Word Count
        </th>
        <th>
          Language Combination
        </th>
        <th>
        </th>
      </tr>
      <% current_user.bids.each do |bid| %>
        <% if !bid.project.accepted_bid_id %>
          <tr>
            <td>
              <%= bid.project.name %>
            </td>
            <td>
              <%= bid.project.user.f_name %> <%= bid.project.user.l_name %>
            </td>
            <td>
              <%= bid.project.kind %>
            </td>
            <td>
              <%= bid.budget %>
            </td>
            <td>
              <%= bid.delivery_date %>
            </td>
            <td>
              <%= bid.project.word_count %>
            </td>
            <td>
              <%= bid.project.language_1 %> to <%= bid.project.language_2 %>
            </td>
            <td>
              <%= link_to "See Project", project_path(bid.project) %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <% if current_user.bids.select { |bid|
        !bid.project.accepted_bid_id }.count == 0 %>
        <tr>
          <td colspan=8>
            None currently
          </td>
        </tr>
      <% end %>
      </table>
      </div>

<!-- This is the vendor's Projects In Progress table! -->
<div class="container">
  <h3>Projects In Progress</h3>
  <table class="table table-striped table-responsive">
    <tr>
      <th>
        Name
      </th>
      <th>
        Client
      </th>
      <th>
        Type
      </th>
      <th>
        Budget
      </th>
      <th>
        Delivery Date
      </th>
      <th>
        Word Count
      </th>
      <th>
        Language Combination
      </th>
      <th>
      </th>
    </tr>
    <% current_user.bids.each do |bid| %>
      <% if bid.accepted && !bid.project.completed_client %>
        <tr>
          <td>
            <%= bid.project.name %>
          </td>
          <td>
            <%= bid.project.user.f_name %> <%= bid.project.user.l_name %>
          </td>
          <td>
            <%= bid.project.kind %>
          </td>
          <td>
            <%= bid.budget %>
          </td>
          <td>
            <%= bid.delivery_date %>
          </td>
          <td>
            <%= bid.project.word_count %>
          </td>
          <td>
            <%= bid.project.language_1 %> to <%= bid.project.language_2 %>
          </td>
          <td>
            <%= link_to "Edit Details", project_path(bid.project) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if current_user.bids.select { |bid|
      bid.accepted && !bid.project.completed_client }.count == 0 %>
      <tr>
        <td colspan=8>
          None currently
        </td>
      </tr>
    <% end %>
  </table>
</div>

  <div class="container">
  <h3>Completed Projects</h3>
    <table class="table table-striped table-responsive">
      <tr>
        <th>
          Name
        </th>
        <th>
          Client
        </th>
        <th>
          Type
        </th>
        <th>
          Budget
        </th>
        <th>
          Date Completed
        </th>
        <th>
          Word Count
        </th>
      </tr>
  <% current_user.bids.each do |bid| %>
    <% if bid.project.completed_client && if bid.id == bid.project.accepted_bid_id %>
      <tr>
        <td>
          <%= bid.project.name %>
        </td>
        <td>
          <%= bid.project.user.f_name %> <%= bid.project.user.l_name %>
        </td>
        <td>
          <%= bid.project.kind %>
        </td>
        <td>
          <%= bid.project.budget %>
        </td>
        <td>
          <%= bid.project.delivery_date %>
        </td>
        <td>
          <%= bid.project.word_count %>
        </td>
      </tr>
    <% end %>
    <% end %>
  <% end %>
    <% if current_user.bids.select { |bid|
      bid.project.completed_client }.count == 0 %>
      <tr>
        <td colspan=7>
          None currently
        </td>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>
