
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div>Picture</div>
      <%= @user.f_name %> <%= @user.l_name %> is currently
      <% if @user.available %>
        <strong>available</strong>
      <% else %>
        <strong>not available</strong>
      <% end %>
      <br>
      Website: <%= @user.web_link %>
    </div>
    <div class="col-sm-6">
      <div>
        Email: <%= @user.email %>
      </div>
      <div>
        Phone: <%= @user.phone_number %>
      </div>
      <div>
        Location: <%= @user.city %> <%= @user.country %>
      </div>
      <div>
        <%= @user.time_zone %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <h4>About Me:</h4>
      <%= @user.bio %>
    </div>
  </div>
<% if @user.is_translator %>
  <div class="row">
    <div class="col-sm-4">
      <h3 class="user-profile">Translator Rates</h3>
      <div>Rate per word: <%= @user.rate_per_word %></div>
      <div>Minimum rate: <%= @user.minimum_rate %></div>
      <div>Notary fee: <%= @user.notary_fee %></div>
    </div>
    <div class="col-sm-4">
      <h3 class="user-profile">Rush Rates</h3>
        <div>Rush rate per word: <%= @user.rush_rate_per_word %></div>
        <div>Rush minimum: <%= @user.rush_minimum %></div>
    </div>
    <div class="col-sm-4">
    <h3 class="user-profile">Special Qualifications</h3>
      <div>Specialization: <%= @user.specialization %></div>
      <div>Judicial court certified? <%= @user.judicial_court? %></div>
      <div>ATA Certified? <%= @user.ata_certified? %></div>
      <div>Trados? <%= @user.trados? %></div>
    <% if @user.trados %>
      <div>
        Trados Version: <%= @user.trados_version %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
<% if @user.is_transcriber %>
  <div class="row">
   <div class="col-sm-4">
     <h3 class="user-profile">Transcriber Rates</h3>
     <div><%= @user.rate_per_minute %></div>
     <div><%= @user.rate_per_work_hour %></div>
     <div><%= @user.minimum_rate %></div>
   </div>
  <div class="col-sm-4">
    <h3 class="user-profile">Rush Rates</h3>
    <div><%= @user.rush_rate_per_minute %></div>
    <div><%= @user.rush_minimum %></div>
  </div>
</div>
<% end %>
<% if @user.is_graphic_designer %>
  <div class="row">
    <div class="col-sm-4">
      <%= @user.rate_per_work_hour %>
    </div>
  </div>
<% end %>
</div>
