<p>Jobs Board</p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
<table class="table table-striped table-responsive">
  <tr>
    <th>
      Client
    </th>
    <th>
      Project
    </th>
    <th>
      Type
    </th>
    <th>
      Proposed Budget
    </th>
    <th>
      Proposed delivery date
    </th>
    <th>
      Word Count
    </th>
    <th>
      Language Combination
    </th>
    <th>
      Needs
    </th>
    <th>
    </th>
  </tr>
    <% @projects.each do |project| %>
      <% if !project.accepted_bid_id %>
    <tr>
      <td>
        <%= project.user.f_name %> <%= project.user.l_name %>
      </td>
      <td>
        <%= project.name %>
      </td>
      <td>
        <%= project.kind %>
      </td>
      <td>
        <%= project.budget %>
      </td>
      <td>
        <%= project.delivery_date %>
      </td>
      <td>
        <%= project.word_count %>
      </td>
      <td>
        <%= project.language_1 %> to <%= project.language_2 %>
      </td>
      <td>
        <%= project.needs %>
      </td>
      <td>
        <%= link_to "See Project", project_path(project) %>
      </td>
    </tr>
    <% end %>
    <% end %>
</table>
