<h2><%= @project.name %></h2>

<!-- This is for Active Bids !-->

<% if !@project.accepted_bid_id %>
<p><%= link_to "Download Source Document", @project.document.url(:original, false), target: "_blank" %></p>
  <h3>Current Bids</h3>
  <div class="container">
    <table class="table table-striped table-responsive">
    <tr>
      <th>
        Vendor Name
      </th>
      <th>
        Proposed Delivery Date
      </th>
      <th>
        Proposed budget
      </th>
      <th>
      </th>
    </tr>
  <% @bids.each do |bid| %>
  <tr>
    <td>
      <%= bid.user.f_name %> <%= bid.user.l_name %>
    </td>
    <td>
      <%= bid.delivery_date %>
    </td>
    <td>
      <%= bid.budget %>
    </td>
    <td>
      <% if bid.user_id == current_user.id %>
        <%= link_to "Manage Your Bid", edit_project_bid_path(@project, bid) %>
      <% end %>
      <% if @project.user_id == current_user.id %>
        <%= link_to "See Profile", user_path(bid.user) %>
        <%= button_to "Accept", "/bids/#{bid.id}/complete", method: :patch %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <% if @bids.empty? %>
    <tr>
      <td colspan=8>
        None currently
      </td>
    </tr>
  <% end %>
</table>
</div>


<% if current_user.is_translator || current_user.is_transcriber || current_user.is_graphic_designer %>
  <%= link_to "Make Bid", new_project_bid_path(@project) %>
<% end %>
<% if @project.user_id == current_user.id %>
  <%= link_to "Edit Project", edit_project_path %>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to "Delete Project", project_path, method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>

<% end %>
<!-- This is the end of active bids -->

<!-- This is the beginning of the client's view -->
 <!-- This is the client's view for Projects In Progress/Completed -->

<% if @project.accepted_bid_id && current_user.id == @project.user_id %>

  <p><%= link_to "See Source", @project.document.url(:original, false), target: "_blank" %></p>

  <% if @project.completed_document_file_name %>
    <p><%= link_to "See Translated Document", @project.completed_document.url(:original, false), target: "_blank" %></p>
  <% else %>
    Vendor has not yet uploaded anything.
  <% end %>
<!-- This is the client's view for Projects if not completed yet !-->
<% if @project.accepted_bid_id && !@project.completed_client %>
  <%= button_to "Mark Completed", "/projects/#{@project.id}/completeclient", method: :patch %>
<% end %>
<% end %>
<!-- This is the end of the client's view !-->

<!-- This is the beginning of the translator's view !-->

<% if @project.accepted_bid_id && current_user.id == @project.vendor_id %>
<p><%= link_to "See Source", @project.document.url(:original, false), target: "_blank" %></p>
  <% if @project.completed_document_file_name%>
    <p><%= link_to "See Uploaded Translation", @project.completed_document.url(:original, false), target: "_blank" %></p>
  <% end %>

  <%= form_for @project, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-xs-3 field">
      <%= f.label :upload_completed_document %>
    </div>
    <div class="col-xs-6 field">
      <%= f.file_field :completed_document %>
    </div>
  </div>
    <div class="actions"><%= f.submit %></div>

<% end %>
<% end %>
