<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>TranslateAppV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="jumbotron">
      APP_NAME
    </div>
    <div class="navbar">
    <% if current_user %>
      Welcome, <%= current_user.f_name %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      Inbox
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Account", accounts_edit_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Dashboard", dashboard_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <% if current_user.is_client %>
      <%= link_to "Vendors", vendors_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <% end %>
      <% if current_user.is_translator %>
      <%= link_to "Jobs", projects_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <% end %>
      <%= link_to "Contact", contact_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
  <!-- session_path leads to sessions#destroy-->
      <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
    <% else %>
      <%= link_to 'Log In', login_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
