<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>TranslateAppV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="jumbotron">
      FOLIO
    </div>
    <% if current_user %>
    <div class="navbar navbar-default navbar-link">
      <div class="container">
        <ul>
          <li>Welcome, <%= current_user.f_name %></li>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <li>Inbox</li>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <li><%= link_to "Account", accounts_edit_path %></li>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <li><%= link_to "Dashboard", dashboard_path %></li>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <% if current_user.is_client %>
          <li><%= link_to "Vendors", vendors_path %></li>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <% end %>
          <% if current_user.is_translator %>
          <li><%= link_to "Jobs", projects_path %></li>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <% end %>
          <li><%= link_to "Contact", contact_path %></li>
          &nbsp;&nbsp;|&nbsp;&nbsp;
      <!-- session_path leads to sessions#destroy-->
          <li><%= link_to 'Log Out', session_path('dummy'), method: :delete %></li>
        </ul>
      </div>
    </div>
    <% else %>
    <ul>
      <li><%= link_to 'Log In', login_path %></li>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <li><%= link_to 'Sign Up', new_user_path %></li>
    </ul>
    <% end %>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
